/*
 * @Author: Mr.He 
 * @Date: 2018-06-09 17:15:30 
 * @Last Modified by: he@whaleblue.design
 * @Last Modified time: 2018-08-19 16:19:28
 * @content what is the content of this file. */

 .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #fff;
}
.nav-text a{
    display: inline-block;
    width: 140px;
}