/*
 * @Author: Mr.He 
 * @Date: 2018-06-10 12:21:24 
 * @Last Modified by: Mr.He
 * @Last Modified time: 2018-06-10 18:41:37
 * @content what is the content of this file. */


 .list{
     padding: 10px;
     border-bottom: 1px solid #ccc;
     overflow: hidden;
 }